{"openapi":"3.0.1","info":{"title":"Dynamic API Specification","description":"This is a dynamically generated API specification for all endpoints existing on the current project.","version":"16f556d778b07510502c173a07ba172800da657f"},"servers":[{"url":"https://cms.isetag-univ.net","description":"Your current Directus instance."}],"paths":{"/assets/{id}":{"get":{"tags":["Assets"],"operationId":"getAsset","summary":"Get an Asset","description":"Image typed files can be dynamically resized and transformed to fit any need.","parameters":[{"name":"id","in":"path","description":"The id of the file.","required":true,"schema":{"type":"string"}},{"name":"key","in":"query","description":"The key of the asset size configured in settings.","schema":{"type":"string"}},{"name":"transforms","in":"query","description":"A JSON array of image transformations","schema":{"type":"string"}},{"name":"download","in":"query","description":"Download the asset to your computer","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful request","content":{"text/plain":{"schema":{"type":"string"}}}},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/auth/login":{"post":{"summary":"Retrieve a Temporary Access Token","description":"Retrieve a Temporary Access Token","tags":["Authentication"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","example":"admin@example.com","description":"Email address of the user you're retrieving the access token for."},"password":{"type":"string","description":"Password of the user.","format":"password","example":"password"},"mode":{"type":"string","enum":["json","cookie","session"],"default":"json","description":"Whether to retrieve the refresh token in the JSON response, or in a httpOnly cookie."},"otp":{"type":"string","description":"The user's one-time-password (if MFA is enabled)."}}}}}},"responses":{"200":{"description":"Successful authentification","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"access_token":{"type":"string","example":"eyJhbGciOiJI..."},"expires":{"type":"integer","example":900},"refresh_token":{"type":"string","example":"yuOJkjdPXMd..."}}}}}}}}}}},"/auth/refresh":{"post":{"summary":"Refresh Token","description":"Refresh a Temporary Access Token.","tags":["Authentication"],"operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"refresh_token":{"type":"string","example":"eyJ0eXAiOiJKV...","description":"JWT access token you want to refresh. This token can't be expired."},"mode":{"type":"string","enum":["json","cookie","session"],"default":"json","description":"Whether to submit and retrieve the refresh token in the JSON response, or in a httpOnly cookie."}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"access_token":{"type":"string","example":"eyJhbGciOiJI..."},"expires":{"type":"integer","example":900},"refresh_token":{"type":"string","example":"Gy-caJMpmGTA..."}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/logout":{"post":{"summary":"Log Out","description":"Log Out","tags":["Authentication"],"operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"refresh_token":{"type":"string","example":"eyJ0eXAiOiJKV...","description":"The refresh token to invalidate. If you have the refresh token in a cookie through /auth/login, you don't have to submit it here."},"mode":{"type":"string","enum":["json","cookie","session"],"description":"Whether the refresh token is submitted in the JSON response, or in a httpOnly cookie."}}}}}},"responses":{"200":{"description":"Request successful"}}}},"/auth/password/request":{"post":{"tags":["Authentication"],"operationId":"passwordRequest","summary":"Request a Password Reset","description":"Request that a password reset email be sent. This does not apply to users authenticated through external providers (OAuth, SAML, LDAP, etc.).","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","example":"admin@example.com","description":"Email address of the user you're requesting a reset for."}}}}}},"responses":{"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/password/reset":{"post":{"tags":["Authentication"],"operationId":"passwordReset","summary":"Reset a Password","description":"The request a password reset endpoint sends an email with a link to the admin app which in turn uses this endpoint to allow the user to reset their password.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["token","password"],"properties":{"token":{"type":"string","example":"eyJ0eXAiOiJKV1Qi...","description":"One-time use JWT token that is used to verify the user."},"password":{"type":"string","example":"password","format":"password","description":"New password for the user."}}}}}},"responses":{"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/oauth":{"get":{"tags":["Authentication"],"operationId":"oauth","summary":"List OAuth Providers","description":"List configured OAuth providers.","responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"public":{"type":"boolean"},"data":{"type":"array","example":["github","facebook"],"items":{"type":"string"}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/auth/oauth/{provider}":{"get":{"summary":"Authenticated using an OAuth provider","description":"Start OAuth flow using the specified provider","tags":["Authentication"],"operationId":"oauthProvider","parameters":[{"name":"provider","in":"path","description":"Key of the activated OAuth provider.","required":true,"schema":{"type":"string"}},{"name":"redirect","in":"query","required":false,"description":"Where to redirect on successful login.<br/>If set the authentication details are set inside cookies otherwise a JSON is returned.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"public":{"type":"boolean"},"data":{"type":"object","properties":{"token":{"type":"string"}}}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/server/info":{"get":{"summary":"System Info","description":"Perform a system status check and return the options.","operationId":"serverInfo","parameters":[{"description":"The first time you create a project, the provided token will be saved and required for subsequent project installs. It can also be found and configured in `/config/__api.json` on your server.","in":"query","name":"super_admin_token","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"content":{"application/json":{"schema":{"properties":{"data":{"type":"object"}},"type":"object"}}},"description":"Successful request"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}},"tags":["Server"]}},"/server/ping":{"get":{"summary":"Ping","description":"Ping, pong. Ping.. pong.","operationId":"ping","responses":{"200":{"content":{"application/text":{"schema":{"type":"string","pattern":"pong","example":"pong"}}},"description":"Successful request"}},"tags":["Server"]}},"/files":{"get":{"summary":"List Files","description":"List the files.","tags":["Files"],"operationId":"getFiles","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Files"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}},"post":{"summary":"Create a File","description":"Create a new file","tags":["Files"],"operationId":"createFile","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"string"}}}}}},"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Files"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/files/{id}":{"get":{"summary":"Retrieve a Files","description":"Retrieve a single file by unique identifier.","tags":["Files"],"operationId":"getFile","parameters":[{"$ref":"#/components/parameters/UUId"},{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Files"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_news_preview":{"get":{"summary":"List Items","description":"List the accueil_news_preview items.","tags":["Items","ItemsAccueilNewsPreview"],"operationId":"readItemsAccueilNewsPreview","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilNewsPreview"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_news_preview/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_news_preview item by unique identifier.","tags":["Items","ItemsAccueilNewsPreview"],"operationId":"readSingleItemsAccueilNewsPreview","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilNewsPreview"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/partners":{"get":{"summary":"List Items","description":"List the partners items.","tags":["Items","ItemsPartners"],"operationId":"readItemsPartners","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsPartners"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/partners/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single partners item by unique identifier.","tags":["Items","ItemsPartners"],"operationId":"readSingleItemsPartners","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsPartners"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/stats_counters":{"get":{"summary":"List Items","description":"List the stats_counters items.","tags":["Items","ItemsStatsCounters"],"operationId":"readItemsStatsCounters","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsStatsCounters"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/stats_counters/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single stats_counters item by unique identifier.","tags":["Items","ItemsStatsCounters"],"operationId":"readSingleItemsStatsCounters","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsStatsCounters"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/actualites_documents_list":{"get":{"summary":"List Items","description":"List the actualites_documents_list items.","tags":["Items","ItemsActualitesDocumentsList"],"operationId":"readItemsActualitesDocumentsList","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsActualitesDocumentsList"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/actualites_documents_list/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single actualites_documents_list item by unique identifier.","tags":["Items","ItemsActualitesDocumentsList"],"operationId":"readSingleItemsActualitesDocumentsList","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsActualitesDocumentsList"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/documents":{"get":{"summary":"List Items","description":"List the documents items.","tags":["Items","ItemsDocuments"],"operationId":"readItemsDocuments","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsDocuments"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/documents/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single documents item by unique identifier.","tags":["Items","ItemsDocuments"],"operationId":"readSingleItemsDocuments","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsDocuments"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/news":{"get":{"summary":"List Items","description":"List the news items.","tags":["Items","ItemsNews"],"operationId":"readItemsNews","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsNews"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/news/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single news item by unique identifier.","tags":["Items","ItemsNews"],"operationId":"readSingleItemsNews","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsNews"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/admissions_cta_banner":{"get":{"summary":"List Items","description":"List the admissions_cta_banner items.","tags":["Items","ItemsAdmissionsCTABanner"],"operationId":"readItemsAdmissionsCTABanner","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsCTABanner"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/admissions_cta_banner/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single admissions_cta_banner item by unique identifier.","tags":["Items","ItemsAdmissionsCTABanner"],"operationId":"readSingleItemsAdmissionsCTABanner","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsCTABanner"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/tuition_plans":{"get":{"summary":"List Items","description":"List the tuition_plans items.","tags":["Items","ItemsTuitionPlans"],"operationId":"readItemsTuitionPlans","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsTuitionPlans"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/tuition_plans/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single tuition_plans item by unique identifier.","tags":["Items","ItemsTuitionPlans"],"operationId":"readSingleItemsTuitionPlans","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsTuitionPlans"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/scholarships":{"get":{"summary":"List Items","description":"List the scholarships items.","tags":["Items","ItemsScholarships"],"operationId":"readItemsScholarships","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsScholarships"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/scholarships/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single scholarships item by unique identifier.","tags":["Items","ItemsScholarships"],"operationId":"readSingleItemsScholarships","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsScholarships"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/campus_services":{"get":{"summary":"List Items","description":"List the campus_services items.","tags":["Items","ItemsCampusServices"],"operationId":"readItemsCampusServices","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsCampusServices"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/campus_services/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single campus_services item by unique identifier.","tags":["Items","ItemsCampusServices"],"operationId":"readSingleItemsCampusServices","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsCampusServices"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_programs_highlight":{"get":{"summary":"List Items","description":"List the accueil_programs_highlight items.","tags":["Items","ItemsAccueilProgramsHighlight"],"operationId":"readItemsAccueilProgramsHighlight","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilProgramsHighlight"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_programs_highlight/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_programs_highlight item by unique identifier.","tags":["Items","ItemsAccueilProgramsHighlight"],"operationId":"readSingleItemsAccueilProgramsHighlight","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilProgramsHighlight"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_programs_highlight_programs":{"get":{"summary":"List Items","description":"List the accueil_programs_highlight_programs items.","tags":["Items","ItemsAccueilProgramsHighlightPrograms"],"operationId":"readItemsAccueilProgramsHighlightPrograms","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilProgramsHighlightPrograms"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_programs_highlight_programs/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_programs_highlight_programs item by unique identifier.","tags":["Items","ItemsAccueilProgramsHighlightPrograms"],"operationId":"readSingleItemsAccueilProgramsHighlightPrograms","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilProgramsHighlightPrograms"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/programs":{"get":{"summary":"List Items","description":"List the programs items.","tags":["Items","ItemsPrograms"],"operationId":"readItemsPrograms","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsPrograms"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/programs/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single programs item by unique identifier.","tags":["Items","ItemsPrograms"],"operationId":"readSingleItemsPrograms","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsPrograms"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/actualites_testimonials_highlight":{"get":{"summary":"List Items","description":"List the actualites_testimonials_highlight items.","tags":["Items","ItemsActualitesTestimonialsHighlight"],"operationId":"readItemsActualitesTestimonialsHighlight","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsActualitesTestimonialsHighlight"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/actualites_testimonials_highlight/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single actualites_testimonials_highlight item by unique identifier.","tags":["Items","ItemsActualitesTestimonialsHighlight"],"operationId":"readSingleItemsActualitesTestimonialsHighlight","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsActualitesTestimonialsHighlight"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/actualites_testimonials_highlight_testimonials":{"get":{"summary":"List Items","description":"List the actualites_testimonials_highlight_testimonials items.","tags":["Items","ItemsActualitesTestimonialsHighlightTestimonials"],"operationId":"readItemsActualitesTestimonialsHighlightTestimonials","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsActualitesTestimonialsHighlightTestimonials"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/actualites_testimonials_highlight_testimonials/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single actualites_testimonials_highlight_testimonials item by unique identifier.","tags":["Items","ItemsActualitesTestimonialsHighlightTestimonials"],"operationId":"readSingleItemsActualitesTestimonialsHighlightTestimonials","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsActualitesTestimonialsHighlightTestimonials"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/testimonials":{"get":{"summary":"List Items","description":"List the testimonials items.","tags":["Items","ItemsTestimonials"],"operationId":"readItemsTestimonials","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsTestimonials"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/testimonials/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single testimonials item by unique identifier.","tags":["Items","ItemsTestimonials"],"operationId":"readSingleItemsTestimonials","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsTestimonials"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/admissions_feature":{"get":{"summary":"List Items","description":"List the admissions_feature items.","tags":["Items","ItemsAdmissionsFeature"],"operationId":"readItemsAdmissionsFeature","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsFeature"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/admissions_feature/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single admissions_feature item by unique identifier.","tags":["Items","ItemsAdmissionsFeature"],"operationId":"readSingleItemsAdmissionsFeature","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsFeature"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/admissions_hero":{"get":{"summary":"List Items","description":"List the admissions_hero items.","tags":["Items","ItemsAdmissionsHero"],"operationId":"readItemsAdmissionsHero","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsHero"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/admissions_hero/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single admissions_hero item by unique identifier.","tags":["Items","ItemsAdmissionsHero"],"operationId":"readSingleItemsAdmissionsHero","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsHero"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/admissions_richtext":{"get":{"summary":"List Items","description":"List the admissions_richtext items.","tags":["Items","ItemsAdmissionsRichtext"],"operationId":"readItemsAdmissionsRichtext","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsRichtext"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/admissions_richtext/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single admissions_richtext item by unique identifier.","tags":["Items","ItemsAdmissionsRichtext"],"operationId":"readSingleItemsAdmissionsRichtext","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsRichtext"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/admissions_steps":{"get":{"summary":"List Items","description":"List the admissions_steps items.","tags":["Items","ItemsAdmissionsSteps"],"operationId":"readItemsAdmissionsSteps","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsSteps"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/admissions_steps/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single admissions_steps item by unique identifier.","tags":["Items","ItemsAdmissionsSteps"],"operationId":"readSingleItemsAdmissionsSteps","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsSteps"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/admissions_steps_items":{"get":{"summary":"List Items","description":"List the admissions_steps_items items.","tags":["Items","ItemsAdmissionsStepsItems"],"operationId":"readItemsAdmissionsStepsItems","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsStepsItems"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/admissions_steps_items/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single admissions_steps_items item by unique identifier.","tags":["Items","ItemsAdmissionsStepsItems"],"operationId":"readSingleItemsAdmissionsStepsItems","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAdmissionsStepsItems"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/pages":{"get":{"summary":"List Items","description":"List the pages items.","tags":["Items","ItemsPages"],"operationId":"readItemsPages","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsPages"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/pages/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single pages item by unique identifier.","tags":["Items","ItemsPages"],"operationId":"readSingleItemsPages","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsPages"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/pages_sections":{"get":{"summary":"List Items","description":"List the pages_sections items.","tags":["Items","ItemsPagesSections"],"operationId":"readItemsPagesSections","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsPagesSections"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/pages_sections/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single pages_sections item by unique identifier.","tags":["Items","ItemsPagesSections"],"operationId":"readSingleItemsPagesSections","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsPagesSections"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_cta_banner":{"get":{"summary":"List Items","description":"List the accueil_cta_banner items.","tags":["Items","ItemsAccueilCTABanner"],"operationId":"readItemsAccueilCTABanner","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilCTABanner"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_cta_banner/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_cta_banner item by unique identifier.","tags":["Items","ItemsAccueilCTABanner"],"operationId":"readSingleItemsAccueilCTABanner","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilCTABanner"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/poles":{"get":{"summary":"List Items","description":"List the poles items.","tags":["Items","ItemsPoles"],"operationId":"readItemsPoles","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsPoles"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/poles/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single poles item by unique identifier.","tags":["Items","ItemsPoles"],"operationId":"readSingleItemsPoles","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsPoles"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_poles_highlight":{"get":{"summary":"List Items","description":"List the accueil_poles_highlight items.","tags":["Items","ItemsAccueilPolesHighlight"],"operationId":"readItemsAccueilPolesHighlight","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilPolesHighlight"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_poles_highlight/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_poles_highlight item by unique identifier.","tags":["Items","ItemsAccueilPolesHighlight"],"operationId":"readSingleItemsAccueilPolesHighlight","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilPolesHighlight"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_hero":{"get":{"summary":"List Items","description":"List the accueil_hero items.","tags":["Items","ItemsAccueilHero"],"operationId":"readItemsAccueilHero","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilHero"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_hero/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_hero item by unique identifier.","tags":["Items","ItemsAccueilHero"],"operationId":"readSingleItemsAccueilHero","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilHero"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_partners_highlight":{"get":{"summary":"List Items","description":"List the accueil_partners_highlight items.","tags":["Items","ItemsAccueilPartnersHighlight"],"operationId":"readItemsAccueilPartnersHighlight","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilPartnersHighlight"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_partners_highlight/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_partners_highlight item by unique identifier.","tags":["Items","ItemsAccueilPartnersHighlight"],"operationId":"readSingleItemsAccueilPartnersHighlight","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilPartnersHighlight"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_partners_highlight_partners":{"get":{"summary":"List Items","description":"List the accueil_partners_highlight_partners items.","tags":["Items","ItemsAccueilPartnersHighlightPartners"],"operationId":"readItemsAccueilPartnersHighlightPartners","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilPartnersHighlightPartners"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_partners_highlight_partners/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_partners_highlight_partners item by unique identifier.","tags":["Items","ItemsAccueilPartnersHighlightPartners"],"operationId":"readSingleItemsAccueilPartnersHighlightPartners","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilPartnersHighlightPartners"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_reasons_items":{"get":{"summary":"List Items","description":"List the accueil_reasons_items items.","tags":["Items","ItemsAccueilReasonsItems"],"operationId":"readItemsAccueilReasonsItems","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilReasonsItems"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_reasons_items/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_reasons_items item by unique identifier.","tags":["Items","ItemsAccueilReasonsItems"],"operationId":"readSingleItemsAccueilReasonsItems","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilReasonsItems"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_reasons":{"get":{"summary":"List Items","description":"List the accueil_reasons items.","tags":["Items","ItemsAccueilReasons"],"operationId":"readItemsAccueilReasons","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilReasons"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_reasons/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_reasons item by unique identifier.","tags":["Items","ItemsAccueilReasons"],"operationId":"readSingleItemsAccueilReasons","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilReasons"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_testimonials_highlight":{"get":{"summary":"List Items","description":"List the accueil_testimonials_highlight items.","tags":["Items","ItemsAccueilTestimonialsHighlight"],"operationId":"readItemsAccueilTestimonialsHighlight","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilTestimonialsHighlight"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_testimonials_highlight/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_testimonials_highlight item by unique identifier.","tags":["Items","ItemsAccueilTestimonialsHighlight"],"operationId":"readSingleItemsAccueilTestimonialsHighlight","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilTestimonialsHighlight"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_testimonials_highlight_testimonials":{"get":{"summary":"List Items","description":"List the accueil_testimonials_highlight_testimonials items.","tags":["Items","ItemsAccueilTestimonialsHighlightTestimonials"],"operationId":"readItemsAccueilTestimonialsHighlightTestimonials","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilTestimonialsHighlightTestimonials"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_testimonials_highlight_testimonials/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_testimonials_highlight_testimonials item by unique identifier.","tags":["Items","ItemsAccueilTestimonialsHighlightTestimonials"],"operationId":"readSingleItemsAccueilTestimonialsHighlightTestimonials","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilTestimonialsHighlightTestimonials"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_vie_campus_teaser":{"get":{"summary":"List Items","description":"List the accueil_vie_campus_teaser items.","tags":["Items","ItemsAccueilVieCampusTeaser"],"operationId":"readItemsAccueilVieCampusTeaser","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilVieCampusTeaser"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_vie_campus_teaser/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_vie_campus_teaser item by unique identifier.","tags":["Items","ItemsAccueilVieCampusTeaser"],"operationId":"readSingleItemsAccueilVieCampusTeaser","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilVieCampusTeaser"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}},"/items/accueil_vie_campus_teaser_gallery":{"get":{"summary":"List Items","description":"List the accueil_vie_campus_teaser_gallery items.","tags":["Items","ItemsAccueilVieCampusTeaserGallery"],"operationId":"readItemsAccueilVieCampusTeaserGallery","security":[{"Auth":[]}],"parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Offset"},{"$ref":"#/components/parameters/Sort"},{"$ref":"#/components/parameters/Filter"},{"$ref":"#/components/parameters/Search"}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","$ref":"#/components/schemas/ItemsAccueilVieCampusTeaserGallery"}},"meta":{"$ref":"#/components/schemas/x-metadata"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"}}}},"/items/accueil_vie_campus_teaser_gallery/{id}":{"get":{"summary":"Retrieve an Item","description":"Retrieve a single accueil_vie_campus_teaser_gallery item by unique identifier.","tags":["Items","ItemsAccueilVieCampusTeaserGallery"],"operationId":"readSingleItemsAccueilVieCampusTeaserGallery","parameters":[{"$ref":"#/components/parameters/Fields"},{"$ref":"#/components/parameters/Meta"},{"$ref":"#/components/parameters/Version"},{"name":"id","description":"Index of the item.","in":"path","required":true,"schema":{"oneOf":[{"type":"integer","description":"Incremental index of the item.","example":1},{"type":"string","description":"Unique identifier of the item.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02"}]}}],"responses":{"200":{"description":"Successful request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","$ref":"#/components/schemas/ItemsAccueilVieCampusTeaserGallery"}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"}}}}},"tags":[{"name":"Assets","description":"Image typed files can be dynamically resized and transformed to fit any need."},{"name":"Authentication","description":"All data within the platform is private by default. The public role can be configured to expose data without authentication, or you can pass an access token to the API to access private data."},{"name":"Server","description":"Access to where Directus runs. Allows you to make sure your server has everything needed to run the platform, and check what kind of latency we're dealing with."},{"name":"Files","description":"Files can be saved in any given location. Directus has a powerful assets endpoint that can be used to generate thumbnails for images on the fly.","x-collection":"directus_files"},{"name":"ItemsAccueilNewsPreview","x-collection":"accueil_news_preview","description":"Section apercu actualites sur la page Accueil (titre + nombre d'items)."},{"name":"ItemsPartners","x-collection":"partners","description":"Partenaires de l'etablissement"},{"name":"ItemsStatsCounters","x-collection":"stats_counters","description":"Compteurs statistiques (page d'accueil)"},{"name":"ItemsActualitesDocumentsList","x-collection":"actualites_documents_list","description":"Section bibliotheque de documents, affichee dans la page Actualites (intro + filtre categorie)."},{"name":"ItemsDocuments","x-collection":"documents","description":"Bibliothèque numérique / documents téléchargeables (page Ressources)"},{"name":"ItemsNews","x-collection":"news","description":"Actualites et agenda"},{"name":"ItemsAdmissionsCTABanner","x-collection":"admissions_cta_banner","description":"Section bandeau d'appel a l'action de la page Admissions."},{"name":"ItemsTuitionPlans","x-collection":"tuition_plans","description":"Frais de scolarité par cycle (page Admissions)"},{"name":"ItemsScholarships","x-collection":"scholarships","description":"Bourses proposées (page Admissions)"},{"name":"ItemsCampusServices","x-collection":"campus_services","description":"Services et ateliers du campus"},{"name":"ItemsAccueilProgramsHighlight","x-collection":"accueil_programs_highlight","description":"Section formations mises en avant sur la page Accueil (selection editoriale manuelle)."},{"name":"ItemsAccueilProgramsHighlightPrograms","x-collection":"accueil_programs_highlight_programs","description":"Jonction M2M accueil_programs_highlight <-> programs."},{"name":"ItemsPrograms","x-collection":"programs","description":"Catalogue des filières"},{"name":"ItemsActualitesTestimonialsHighlight","x-collection":"actualites_testimonials_highlight","description":"Section temoignages mis en avant sur la page Actualites (selection editoriale manuelle)."},{"name":"ItemsActualitesTestimonialsHighlightTestimonials","x-collection":"actualites_testimonials_highlight_testimonials","description":"Jonction M2M actualites_testimonials_highlight <-> testimonials."},{"name":"ItemsTestimonials","x-collection":"testimonials","description":"Temoignages d'anciens etudiants"},{"name":"ItemsAdmissionsFeature","x-collection":"admissions_feature","description":"Section image + texte libre de la page Admissions (spotlight filiere...)."},{"name":"ItemsAdmissionsHero","x-collection":"admissions_hero","description":"Section hero de la page Admissions (titre, sous-titre, image, CTA)."},{"name":"ItemsAdmissionsRichtext","x-collection":"admissions_richtext","description":"Section texte libre (WYSIWYG) de la page Admissions."},{"name":"ItemsAdmissionsSteps","x-collection":"admissions_steps","description":"Section parcours en etapes numerotees de la page Admissions (ex: Comment s'inscrire)."},{"name":"ItemsAdmissionsStepsItems","x-collection":"admissions_steps_items","description":"Etapes individuelles d'un admissions_steps (O2M)."},{"name":"ItemsPages","x-collection":"pages","description":"Une entrée par page composée de sections éditoriales (Accueil, À propos, Admissions...)."},{"name":"ItemsPagesSections","x-collection":"pages_sections","description":"Jonction M2A reliant pages <-> blocs (many-to-any)."},{"name":"ItemsAccueilCTABanner","x-collection":"accueil_cta_banner","description":"Section bandeau d'appel a l'action de la page Accueil (reutilisable, plusieurs lignes possibles)."},{"name":"ItemsPoles","x-collection":"poles"},{"name":"ItemsAccueilPolesHighlight","x-collection":"accueil_poles_highlight","description":"Section intro du carrousel des poles de formation sur la page Accueil. Les poles eux-memes viennent de la collection partagee 'poles'."},{"name":"ItemsAccueilHero","x-collection":"accueil_hero","description":"Section hero de la page Accueil (titre, sous-titre, image, 2 CTA)."},{"name":"ItemsAccueilPartnersHighlight","x-collection":"accueil_partners_highlight","description":"Section entreprises/institutions partenaires sur la page Accueil (selection editoriale manuelle)."},{"name":"ItemsAccueilPartnersHighlightPartners","x-collection":"accueil_partners_highlight_partners","description":"Jonction M2M accueil_partners_highlight <-> partners."},{"name":"ItemsAccueilReasonsItems","x-collection":"accueil_reasons_items","description":"Cartes individuelles d'un accueil_reasons (O2M)."},{"name":"ItemsAccueilReasons","x-collection":"accueil_reasons","description":"Section '5 raisons de choisir l'ISETAG' sur la page Accueil."},{"name":"ItemsAccueilTestimonialsHighlight","x-collection":"accueil_testimonials_highlight","description":"Section temoignages (alumni) mis en avant sur la page Accueil (selection editoriale manuelle)."},{"name":"ItemsAccueilTestimonialsHighlightTestimonials","x-collection":"accueil_testimonials_highlight_testimonials","description":"Jonction M2M accueil_testimonials_highlight <-> testimonials."},{"name":"ItemsAccueilVieCampusTeaser","x-collection":"accueil_vie_campus_teaser","description":"Section teaser 'Vie sur nos campus' sur la page Accueil, renvoyant vers la page Vie Campus."},{"name":"ItemsAccueilVieCampusTeaserGallery","x-collection":"accueil_vie_campus_teaser_gallery","description":"Galerie de photos individuelles pour la section Vie sur nos Campus (O2M)."}],"components":{"schemas":{"Query":{"type":"object","properties":{"fields":{"type":"array","items":{"type":"string"},"description":"Control what fields are being returned in the object.","example":["*","*.*"]},"filter":{"type":"object","example":{"<field>":{"<operator>":"<value>"}}},"search":{"description":"Filter by items that contain the given search query in one of their fields.","type":"string"},"sort":{"type":"array","items":{"type":"string"},"description":"How to sort the returned items.","example":["-date_created"]},"limit":{"type":"number","description":"Set the maximum number of items that will be returned"},"offset":{"type":"number","description":"How many items to skip when fetching data."},"page":{"type":"number","description":"Cursor for use in pagination. Often used in combination with limit."},"deep":{"type":"object","description":"Deep allows you to set any of the other query parameters on a nested relational dataset.","example":{"related_articles":{"_limit":3}}}}},"x-metadata":{"type":"object","properties":{"total_count":{"description":"Returns the total item count of the collection you're querying.","type":"integer"},"filter_count":{"description":"Returns the item count of the collection you're querying, taking the current filter/search parameters into account.","type":"integer"}}},"Files":{"type":"object","properties":{"id":{"description":"Unique identifier for the file.","example":"8cbb43fe-4cdf-4991-8352-c461779cec02","type":"string"},"storage":{"description":"Where the file is stored. Either `local` for the local filesystem or the name of the storage adapter (for example `s3`).","example":"local","type":"string"},"filename_disk":{"description":"Name of the file on disk. By default, Directus uses a random hash for the filename.","example":"a88c3b72-ac58-5436-a4ec-b2858531333a.jpg","type":"string"},"filename_download":{"description":"How you want to the file to be named when it's being downloaded.","example":"avatar.jpg","type":"string"},"title":{"description":"Title for the file. Is extracted from the filename on upload, but can be edited by the user.","example":"User Avatar","type":"string"},"type":{"description":"MIME type of the file.","example":"image/jpeg","type":"string"},"folder":{"description":"Virtual folder where this file resides in.","example":null,"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Folders"}],"nullable":true},"uploaded_by":{"description":"Who uploaded the file.","example":"63716273-0f29-4648-8a2a-2af2948f6f78","oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Users"}]},"created_on":{"description":"When the file was created.","example":"2019-12-03T00:10:15+00:00","type":"string","format":"date-time"},"modified_by":{"nullable":true,"type":"string","format":"uuid"},"modified_on":{"nullable":false,"type":"string","format":"timestamp"},"charset":{"description":"Character set of the file.","example":"binary","type":"string","nullable":true},"filesize":{"description":"Size of the file in bytes.","example":137862,"type":"integer"},"width":{"description":"Width of the file in pixels. Only applies to images.","example":800,"type":"integer","nullable":true},"height":{"description":"Height of the file in pixels. Only applies to images.","example":838,"type":"integer","nullable":true},"duration":{"description":"Duration of the file in seconds. Only applies to audio and video.","example":0,"type":"integer","nullable":true},"embed":{"description":"Where the file was embedded from.","example":null,"type":"string","nullable":true},"description":{"description":"Description for the file.","type":"string","nullable":true},"location":{"description":"Where the file was created. Is automatically populated based on Exif data for images.","type":"string","nullable":true},"tags":{"description":"Tags for the file. Is automatically populated based on Exif data for images.","type":"array","nullable":true,"items":{"type":"string"}},"metadata":{"description":"IPTC, Exif, and ICC metadata extracted from file","type":"object","nullable":true},"focal_point_x":{"nullable":true,"type":"integer"},"focal_point_y":{"nullable":true,"type":"integer"},"tus_id":{"nullable":true,"type":"string"},"tus_data":{"nullable":true},"uploaded_on":{"description":"When the file was last uploaded/replaced.","example":"2019-12-03T00:10:15+00:00","type":"string","format":"date-time"}},"x-collection":"directus_files"},"ItemsAccueilNewsPreview":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"limit":{"nullable":true,"description":"Nombre d'actualites a afficher","type":"integer"}},"x-collection":"accueil_news_preview"},"ItemsPartners":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"name":{"nullable":false,"type":"string"},"logo":{"nullable":true,"type":"string","format":"uuid"},"type":{"nullable":true,"type":"string"},"website_url":{"nullable":true,"type":"string"},"featured":{"nullable":true,"type":"boolean"},"display_order":{"nullable":true,"type":"integer"}},"x-collection":"partners","required":["name"]},"ItemsStatsCounters":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"label_fr":{"nullable":false,"type":"string"},"label_en":{"nullable":true,"type":"string"},"value":{"nullable":true,"type":"integer"},"suffix":{"nullable":true,"type":"string"},"icon":{"nullable":true,"type":"string"},"display_order":{"nullable":true,"type":"integer"}},"x-collection":"stats_counters","required":["label_fr"]},"ItemsActualitesDocumentsList":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"intro_fr":{"nullable":true,"type":"string"},"intro_en":{"nullable":true,"type":"string"},"category_filter":{"nullable":true,"description":"Filtre optionnel sur documents.category (vide = toutes categories)","type":"string"}},"x-collection":"actualites_documents_list"},"ItemsDocuments":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"title":{"nullable":false,"description":"Ex: Liste des Filières","type":"string"},"category":{"nullable":true,"description":"Catégorie du document","type":"string"},"file":{"nullable":true,"description":"Fichier PDF téléchargeable","type":"string","format":"uuid"},"display_order":{"nullable":true,"type":"integer"},"status":{"nullable":false,"type":"string"}},"x-collection":"documents","required":["title"]},"ItemsNews":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"slug":{"nullable":false,"type":"string"},"title_fr":{"nullable":false,"type":"string"},"title_en":{"nullable":true,"type":"string"},"category":{"nullable":true,"type":"string"},"content_fr":{"nullable":true,"type":"string"},"date_published":{"nullable":true,"type":"string","format":"date"},"cover_image":{"nullable":true,"type":"string","format":"uuid"}},"x-collection":"news","required":["slug","title_fr"]},"ItemsAdmissionsCTABanner":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"text_fr":{"nullable":true,"type":"string"},"text_en":{"nullable":true,"type":"string"},"button_label_fr":{"nullable":true,"type":"string"},"button_label_en":{"nullable":true,"type":"string"},"button_url":{"nullable":true,"type":"string"}},"x-collection":"admissions_cta_banner"},"ItemsTuitionPlans":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"cycle_name":{"nullable":false,"description":"Ex: Cycle BTS, Cycle Licence, Cycle Master","type":"string"},"level":{"nullable":true,"description":"Ex: BTS, HND, Licence, Master","type":"string"},"total_amount":{"nullable":true,"description":"Montant total en FCFA","type":"integer"},"installments":{"nullable":true,"description":"Tranches de paiement (libellé + montant)"},"note":{"nullable":true,"type":"string"},"display_order":{"nullable":true,"type":"integer"},"status":{"nullable":false,"type":"string"}},"x-collection":"tuition_plans","required":["cycle_name"]},"ItemsScholarships":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"name":{"nullable":false,"description":"Ex: Bourse Coeur De Mère","type":"string"},"amount":{"nullable":true,"description":"Montant de la bourse en FCFA","type":"integer"},"description":{"nullable":true,"type":"string"},"conditions":{"nullable":true,"description":"Conditions d'éligibilité","type":"string"},"display_order":{"nullable":true,"type":"integer"},"status":{"nullable":false,"type":"string"},"image":{"nullable":true,"description":"Image de la carte bourse (section Bourses, page Admissions)","oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]},"cta_label_fr":{"nullable":true,"description":"Ex. \"En savoir plus\"","type":"string"},"cta_label_en":{"nullable":true,"type":"string"},"cta_url":{"nullable":true,"type":"string"}},"x-collection":"scholarships","required":["name"]},"ItemsCampusServices":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"name_fr":{"nullable":false,"type":"string"},"name_en":{"nullable":true,"type":"string"},"icon":{"nullable":true,"type":"string"},"category":{"nullable":true,"type":"string"},"display_section":{"nullable":true,"description":"Section d'affichage sur la page vie-campus","type":"string"}},"x-collection":"campus_services","required":["name_fr"]},"ItemsAccueilProgramsHighlight":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"programs":{"nullable":true,"description":"Selection manuelle et ordonnee des formations a mettre en avant.","type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsAccueilProgramsHighlightPrograms"}]}}},"x-collection":"accueil_programs_highlight"},"ItemsAccueilProgramsHighlightPrograms":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"accueil_programs_highlight_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsAccueilProgramsHighlight"}]},"programs_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsPrograms"}]},"sort":{"nullable":true,"type":"integer"}},"x-collection":"accueil_programs_highlight_programs"},"ItemsPrograms":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"slug":{"nullable":false,"description":"Identifiant URL de la filière","type":"string"},"name_fr":{"nullable":false,"type":"string"},"name_en":{"nullable":true,"type":"string"},"pole":{"nullable":true,"description":"Pôle de rattachement","oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsPoles"}]},"level":{"nullable":true,"description":"Ex: HND, BTS","type":"string"},"is_hnd":{"nullable":true,"description":"Filière HND ?","type":"boolean"},"schedule":{"nullable":true,"description":"Horaires","type":"string"},"seo_title_fr":{"nullable":true,"type":"string"},"seo_description_fr":{"nullable":true,"type":"string"},"cover_image":{"nullable":true,"type":"string","format":"uuid"},"status":{"nullable":false,"type":"string"}},"x-collection":"programs","required":["slug","name_fr"]},"ItemsActualitesTestimonialsHighlight":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"cta_label_fr":{"nullable":true,"type":"string"},"cta_url":{"nullable":true,"type":"string"},"cta_label_en":{"nullable":true,"type":"string"},"testimonials":{"nullable":true,"description":"Selection manuelle et ordonnee des temoignages a mettre en avant.","type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsActualitesTestimonialsHighlightTestimonials"}]}}},"x-collection":"actualites_testimonials_highlight"},"ItemsActualitesTestimonialsHighlightTestimonials":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"actualites_testimonials_highlight_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsActualitesTestimonialsHighlight"}]},"testimonials_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsTestimonials"}]},"sort":{"nullable":true,"type":"integer"}},"x-collection":"actualites_testimonials_highlight_testimonials"},"ItemsTestimonials":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"student_name":{"nullable":false,"type":"string"},"program":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsPrograms"}]},"graduation_year":{"nullable":true,"type":"integer"},"quote_fr":{"nullable":true,"type":"string"},"quote_en":{"nullable":true,"type":"string"},"photo":{"nullable":true,"type":"string","format":"uuid"},"video_url":{"nullable":true,"type":"string"},"featured":{"nullable":true,"type":"boolean"}},"x-collection":"testimonials","required":["student_name"]},"ItemsAdmissionsFeature":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"tag_label_fr":{"nullable":true,"description":"Petit label/pill optionnel (ex: 'Transport Maritime')","type":"string"},"tag_label_en":{"nullable":true,"description":"Petit label/pill optionnel (ex: 'Transport Maritime')","type":"string"},"image":{"nullable":true,"oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]},"body_fr":{"nullable":true,"type":"string"},"body_en":{"nullable":true,"type":"string"},"cta_label_fr":{"nullable":true,"type":"string"},"cta_label_en":{"nullable":true,"type":"string"},"cta_url":{"nullable":true,"type":"string"}},"x-collection":"admissions_feature"},"ItemsAdmissionsHero":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"title_fr":{"nullable":true,"type":"string"},"title_en":{"nullable":true,"type":"string"},"subtitle_fr":{"nullable":true,"type":"string"},"subtitle_en":{"nullable":true,"type":"string"},"image":{"nullable":true,"oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]},"cta_label_fr":{"nullable":true,"type":"string"},"cta_label_en":{"nullable":true,"type":"string"},"cta_url":{"nullable":true,"type":"string"}},"x-collection":"admissions_hero"},"ItemsAdmissionsRichtext":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"content_fr":{"nullable":true,"type":"string"},"content_en":{"nullable":true,"type":"string"},"image":{"nullable":true,"description":"Image optionnelle illustrant ce bloc de texte.","oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]}},"x-collection":"admissions_richtext"},"ItemsAdmissionsSteps":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"items":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsAdmissionsStepsItems"}]}}},"x-collection":"admissions_steps"},"ItemsAdmissionsStepsItems":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"admissions_steps_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsAdmissionsSteps"}]},"title_fr":{"nullable":true,"type":"string"},"title_en":{"nullable":true,"type":"string"},"description_fr":{"nullable":true,"type":"string"},"description_en":{"nullable":true,"type":"string"},"sort":{"nullable":true,"type":"integer"}},"x-collection":"admissions_steps_items"},"ItemsPages":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"key":{"nullable":false,"description":"Identifiant machine (accueil, a_propos, admissions...)","type":"string"},"title":{"nullable":true,"description":"Libellé admin uniquement","type":"string"},"status":{"nullable":true,"type":"string"},"sections":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsPagesSections"}]}}},"x-collection":"pages","required":["key"]},"ItemsPagesSections":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"pages_id":{"nullable":true,"oneOf":[{"type":"integer"},{"$ref":"#/components/schemas/ItemsPages"}]},"item":{"nullable":true,"type":"array","items":{"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/ItemsAccueilNewsPreview"},{"$ref":"#/components/schemas/ItemsActualitesDocumentsList"},{"$ref":"#/components/schemas/ItemsAdmissionsCTABanner"},{"$ref":"#/components/schemas/ItemsAccueilProgramsHighlight"},{"$ref":"#/components/schemas/ItemsActualitesTestimonialsHighlight"},{"$ref":"#/components/schemas/ItemsAdmissionsFeature"},{"$ref":"#/components/schemas/ItemsAdmissionsHero"},{"$ref":"#/components/schemas/ItemsAdmissionsRichtext"},{"$ref":"#/components/schemas/ItemsAdmissionsSteps"},{"$ref":"#/components/schemas/ItemsAccueilCTABanner"},{"$ref":"#/components/schemas/ItemsAccueilPolesHighlight"},{"$ref":"#/components/schemas/ItemsAccueilHero"},{"$ref":"#/components/schemas/ItemsAccueilPartnersHighlight"},{"$ref":"#/components/schemas/ItemsAccueilReasons"},{"$ref":"#/components/schemas/ItemsAccueilTestimonialsHighlight"},{"$ref":"#/components/schemas/ItemsAccueilVieCampusTeaser"}]}},"collection":{"nullable":true,"type":"string"},"sort":{"nullable":true,"type":"integer"}},"x-collection":"pages_sections"},"ItemsAccueilCTABanner":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"type":"string"},"heading_en":{"nullable":true,"type":"string"},"text_fr":{"nullable":true,"type":"string"},"text_en":{"nullable":true,"type":"string"},"button_label_fr":{"nullable":true,"type":"string"},"button_label_en":{"nullable":true,"type":"string"},"button_url":{"nullable":true,"type":"string"}},"x-collection":"accueil_cta_banner"},"ItemsPoles":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"slug":{"nullable":true,"type":"string"},"name_fr":{"nullable":true,"type":"string"},"name_en":{"nullable":true,"type":"string"},"icon":{"nullable":true,"type":"string"},"color":{"nullable":true,"type":"string"},"display_order":{"nullable":true,"description":"Ordre d'affichage","type":"integer"},"description_fr":{"nullable":true,"type":"string"},"description_en":{"nullable":true,"type":"string"},"image":{"nullable":true,"description":"Image de la carte pôle dans le carrousel Accueil","oneOf":[{"type":"string","format":"uuid"},{"$ref":"#/components/schemas/Files"}]}},"x-collection":"poles"},"ItemsAccueilPolesHighlight":{"type":"object","properties":{"id":{"nullable":false,"type":"integer"},"heading_fr":{"nullable":true,"typ
[...]
